<div class="row">
  <div class="span8">
  <table>
    <tr>
      <% if item.image.present? %>
      <td>
        <%= image_tag item.image.url(:thumb) %>
      </td>
      <% end %>
      <td>
        <h3><%= link_to item.name, category_item_path(item.category, item) %></h3>
        <p><%= link_to item.category.name, item.category %> </p>

      </td>
    </tr>
    <tr>
      <td colspan="<%= item.image.present? ? 2 : 1 %>">
        <p><%= item.description.html_safe %>  </p>
      </td>
    </tr>
  </table>
  </div>
  </div>