<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Olga" %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
<div class="wrap">
<div class="container">
<header class="navbar navbar-top">
  <nav class="navbar-inner">
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </nav>
</header>
<div id="main" role="main">

    <div class="content">
      <div class="row">
        <%= yield :sidebar %>

          <%= yield %>

      </div>

    </div>
  </div> <!--! end of .container -->


</div> <!--! end of #main -->
</div>

<div id="footer">
  <div class="container">
    <p class="muted credit">
      © <%= Time.now.year %>
     </p>
  </div>
    </div>
</body>
</html>